#header {
background-image:url(%%header2%%);
}
#header-bottom-left {padding-top:90px;}
#header-img {position:absolute!important;top:33px;left:20px;}
.pagename a {margin:0;padding:0;z-index: 300;font-size:0!important;position:absolute!important;top:70px;left:153px;display:block!important;width:214px;height:34px;}
#sr-header-area, #RESShortcutsEditContainer, #header-bottom-right {
background-color: #3090C7;
opacity:0.8;
border:none;
}
#header-bottom-right a, #sr-header-area a, #RESShortcuts, #RESShortcuts a{color: #FFF!important; font-weight:bold; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;}
a { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
.tabmenu li a {
padding: 4px 8px 0 9px;
background-color: #3090C7;
opacity:0.8;
border-radius:4px;
color:#fff;
border: none;
}
.tabmenu li a:hover { text-shadow: 0px 2px 7px; }
.tabmenu li.selected a {
color: #3090C7;
font-weight:bold;
background-color: white;
border: none!important;
}
.morelink {
border:none;
border-radius:3px;
background-image:none;
background-color:#3090C7;
opacity:0.8; }
.morelink a { color:#fff!important; }
.nub, .sidebox.submit .spacer, .sidebox.create .spacer { visibility:hidden; display:none; } 
.morelink:hover {background-image:none; text-shadow: 0px 2px 7px; background-color:#1C7CB3;}
.fancy-toggle-button .active, .RESshortcutside,  .RESDashboardToggle { border: none!important;background-image:none!important;background-color:#1C7CB3!important;opacity:0.8;}
.thing .title.loggedin {
color: #3090C7;
}
.thing .title.loggedin.click:visited {
color: #3530C7;
}
.thing .title.loggedin.click, .thing .title.loggedin:visited { color: #3530C7; }
.sidecontentbox .content { border-color: #C7D0FF;}
a:hover { text-shadow: 0px 0px 1px!important;}

.keyHighlight {
outline: none!important;
background-color: #fafcfe!important;
}
#siteTable p { padding-top:2px; padding-bottom:2px; }